<!DOCTYPE html>
<html lang="en">

<head>
  <title>Chapter 14 Data</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
<div class="p-4 bg-warning">
<h1>Car Data</h1>
<div class="form-group">
      <label for="car_vin">VIN Muber :</label>
      <input type="text" class="form-control" id="car_vin" name="car_vin">
    </div>
    <div class="form-group">
      <label for="car_reg">Car Reg </label>
      <input type="text" class="form-control" id="car_reg" name="car_reg">
    </div>
	<div class="form-group">
      <label for="car_make">Car make::</label>
      <input type="text" class="car_make" id="car_make" name="car_make">
    </div>
	<div class="form-group">
      <label for="car_model">Car Model </label>
      <input type="text" class="form-control" id="car_model" name="car_model">
    </div>
	<div class="form-group">
      <label for="fuel">Fule :</label>
      <input type="text" class="form-control" id="fuel" name="fule">
    </div>

    <div class="form-group">
      <label for="car_price">Car Price:</label>
      <input type="text" class="form-control" id="car_price" name="car_price">
    </div>
    <div class="form-group">
      <label for="new_used">New/User:</label>
      <input type="text" class="form-control" id="new_used" name="new_used">
    </div>
    <div class="form-group">
      <label for="in_workshop">New/User:</label>
      <input type="text" class="form-control" id="in_workshop" name="in_workshop">
    </div>
    <div class="form-group">
      <label for="sold">Sold:</label>
      <input type="text" class="form-control" id="sold" name="sold">
    </div>



    <button type="submit" class="btn btn-primary" name="member">Submit</button>
  </form>
</div>
    </div>


</body>
</html>