<!DOCTYPE html>
<html lang="en">

<head>
  <title>Chapter 14 Data</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>

<body>

<center><h1><a href="/employee.html">Enter Employee Data</a> </h1></center>
<center><h1><a href="/salesperson.html">Enter Sales Person Data</a> </h1></center>
<center><h1><a href="/mech.html">Enter Mechanic Data</a> </h1></center>
<center><h1><a href="/customer.html">Enter Customer Data</a> </h1></center>
<center><h1><a href="/car.html">Enter Car Data</a> </h1></center>
<center><h1><a href="/job.html">Enter Job Data</a> </h1></center>
<center><h1><a href="/parts.html">Enter Parts Data</a> </h1></center>

</body>
</html>