<!DOCTYPE html>
<html lang="en">

<head>
  <title>Chapter 14 Data</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
<div class="p-4 bg-warning">
<h1>Job Data</h1>
<div class="form-group">
      <label for="job_id">Job ID:</label>
      <input type="text" class="form-control" id="job_id" name="job_id">
    </div>
    <div class="form-group">
      <label for="stime">Start Time </label>
      <input type="date" class="form-control" id="stime" name="stime">
    </div>
	<div class="form-group">
      <label for="ftime">Fihish Time :</label>
      <input type="date" class="form-control" id="ftime" name="ftime">
    </div>
	<div class="form-group">
      <label for="emp_id">Salary</label>
      <input type="text" class="emp_id" id="emp_id" name="emp_id">
    </div>
	<div class="form-group">
      <label for="car_reg">Car Reg:</label>
      <input type="text" class="form-control" id="car_reg" name="car_reg">
    </div>
	

    <button type="submit" class="btn btn-primary" name="member">Submit</button>
  </form>
</div>
    </div>


</body>
</html>