<!DOCTYPE html>
<html lang="en">

<head>
  <title>Chapter 14 Data</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
<div class="p-4 bg-warning">
<h1>Sales Person Data</h1><div class="form-group">
      <label for="emp_name">Employee Surname Name:</label>
      <input type="text" class="form-control" id="emp_name" name="emp_name">
    </div>
<div class="form-group">
      <label for="emp_id">Employee ID:</label>
      <input type="text" class="form-control" id="emp_id" name="emp_id">
</div>

    <div class="form-group">
      <label for="comission">Commision </label>
      <input type="text" class="form-control" id="comission" name="commision">
    </div>

    <div class="form-group">
      <label for="car_reg">Car Reg:</label>
      <input type="text" class="form-control" id="car_reg" name="car_reg">
    </div>

    <div class="form-group">
      <label for="cust_id">Customer ID:</label>
      <input type="text" class="form-control" id="cust_id" name="cust_id">
    </div>

    <div class="form-group">
      <label for="total_sales_pm">Total Sales :</label>
      <input type="text" class="form-control" id="total_sales_pm" name="total_sales_pm">
    </div>

    <div class="form-group">
      <label for="total_no_cars_pm">Total Sales :</label>
      <input type="text" class="form-control" id="total_no_cars_pm" name="total_no_cars_pm">
    </div>


    <button type="submit" class="btn btn-primary" name="member">Submit</button>
  </form>
</div>
    </div>


</body>
</html>